baseurl: '/'
permalink: pretty
title: 'WaDrop.org - Drupal in Japan'
title_ja: 'WaDrop.org - 日本のDrupal'
url: 'https://wadrop.org'

# Multilingual settings
languages: ["en", "ja"]
default_lang: "en"
exclude_from_localization: ["javascript", "images", "css", "assets", "sitemap.xml"]
parallel_localization: true

logo:
  mobile: "images/logo/logo-mobile.svg"
  mobile_height: "32px"
  mobile_width: "32px"
  desktop: "images/logo/logo.svg"
  desktop_height: "32px"
  desktop_width: "120px"

home: 
  limit_categories: 6

collections:
  categories:
    output: true
    sort_by: weight
  team:
    output: true
  companies:
    output: true
    sort_by: weight

defaults:
  - scope:
      path: ""
      type: "categories"
    values:
      layout: "category"
  - scope:
      path: ""
      type: "team"
    values:
      layout: "team"
  - scope:
      path: ""
      type: "companies"
    values:
      layout: "company"

sass:
  style: compressed # possible values: nested expanded compact compressed

plugins:
  - jekyll-environment-variables
  - jekyll-polyglot

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - LICENSE.md
  - LICENSE
  - README.md
