<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          {% if site.data.social %}
            {% include social.html %}
          {% endif %}
          {% assign copyright_text = site.data.seo.copyright_text %}
          {% if site.active_lang == 'ja' %}
            {% assign copyright_text = site.data.seo.copyright_text_ja | default: copyright_text %}
          {% endif %}
          {% if copyright_text %}
          <div class="copyright">{{ copyright_text }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>