.header {
  color: $primary;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  border-bottom: 1px solid $white-offset;
  padding: 10px 0px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}

.header-nav-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

@media (max-width: 991px) {
  .header-nav-wrapper {
    gap: 10px;
  }
}
