.intro {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 40px;
  overflow: hidden;
  background-image: url('/images/splash/splash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 500px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 2;
  }
  &.intro-categories {
    background-image: url('/images/splash/splash_2.jpg');
  }
  &.intro-teams {
    background-image: url('/images/splash/splash_3.jpg');
  }
  @include media-breakpoint-up(md) {
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 550px;
    max-height: 550px;
  }
  h1 {
    color: $white;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;
    @include media-breakpoint-up(md) {
      font-size: 48px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }
  h2 {
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 30px;
    color: $white;
    font-family: $font-family-base;
  }
  p {
    font-size: 1.2rem;
    font-weight: light;
    line-height: 1.5;
    color: $white;
  }
  .text-center {
    h1, h2, p {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      color: $white;
    }
    h1 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 0;
    }
    .intro-logo {
      width: 150px;
      height: 150px;
      margin-bottom: 15px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      filter: brightness(0) invert(1);
    }
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
