.language-switcher {
  display: flex;
  gap: 10px;
  align-items: center;
  
  .language-active {
    font-weight: bold;
    color: $primary;
    font-size: 14px;
  }
  
  .language-link {
    color: $black;
    text-decoration: none;
    font-size: 14px;
    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
}
