<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
  <!-- Google Fonts CDN -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
  <!-- Self host font -->
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/consent.css' | relative_url }}" rel="stylesheet">
  
  {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
  
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{{ page.title | default: site.title }}"/>
  <meta property="og:url" content="{{ page.url | absolute_url }}"/>
  <meta property="og:image" content="{{ page.image | default: '/images/social/og-image.png' | absolute_url }}"/>
  <meta property="og:description" content="{{ page.description | default: site.description }}"/>
  
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="{{ page.title | default: site.title }}"/>
  <meta name="twitter:description" content="{{ page.description | default: site.description }}"/>
  <meta name="twitter:image" content="{{ page.image | default: '/images/social/og-image.png' | absolute_url }}"/>

</head>

<body class='page {{layout.bodyClass}}'>
  {% include main-menu-mobile.html %}
  <div id="wrapper" class="wrapper">
    {% include header.html headerClass='header-extra' %}
    {{content}}
  </div>
  {% include footer.html %}
  {% include sub-footer.html %}
  <script type="text/javascript" src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/consent.js' | relative_url }}"></script>
  {% include cookie-consent.html %}
</body>
</html>
