---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-7 text-center">
        {{ content }}
      </div>
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_categories | default: 6 %}
      {% for category in site.categories limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="category category-summary">
          <div class="category-content">
            <h2 class="category-title">
              <a href="{% include localize-url.html url=category.url %}">{{ category.title }}</a>
            </h2>
            <p>{{ category.excerpt | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        {%- assign view_all_categories_label = 'View All Categories' -%}
        {%- if site.active_lang == 'ja' -%}
          {%- assign view_all_categories_label = 'さらに表示' -%}
        {%- endif -%}
        <a class="button button-primary" href="{% include localize-url.html url='/categories/' %}">{{ view_all_categories_label }}</a>
      </div>
    </div>
  </div>
</div>

{%- assign localized_features = nil -%}
{%- if site.active_lang == 'ja' and site.data['features-ja'] -%}
  {%- assign localized_features = site.data['features-ja'] -%}
{%- elsif site.data.features -%}
  {%- assign localized_features = site.data.features -%}
{%- endif -%}

{% if localized_features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in localized_features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        {% if feature.url %}
        <a href="{% include localize-url.html url=feature.url %}" class="feature-link">
        {% endif %}
          <div class="feature">
            {% if feature.image %}
            <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
            {% endif %}
            <h2 class="feature-title">{{ feature.title }}</h2>
            <div class="feature-content">{{ feature.description }}</div>
          </div>
        {% if feature.url %}
        </a>
        {% endif %}
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
